# Module 2: Colab Assignment

## Become familiar using a Colab notebook

**Problem 1: (20 pts)**

Import `numpy` as `np` and `pandas` as `pd`

In [1]:
import pandas as pd
import numpy as np

**Problem 2: (40 pts)**

Create a simple DataFrame as follows:


1. Create a 5x3 NumPy array
2. Create a Python list that contains the column names (three columns in total)
3. Create a DataFrame
4. Print the DataFrame

In [6]:
#Step 1
array = np.zeros((5,3))

In [5]:
#Step 2
column_names = ['A', 'B', 'C']

In [13]:
#Step 3
df = pd.DataFrame(array, columns = column_names)

In [14]:
#Step 4
print(df)

     A    B    C
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

**Problem 3: (20 pts)**

1. Write a function to convert seconds into minutes (output should be an integer number).
2. Provide an example using this function and show on the screen the `input` and `output`. For example:

`Input: Seconds = 125 `

`Output: Minutes = 2`

In [ ]:
#Step 1
minutes = seconds / 60

In [29]:
#Step 2
seconds = int(input("Please enter seconds: "))
minutes = seconds // 60
print(f"Minutes = {minutes}")

Please enter seconds: 122
Minutes = 2

**Problem 4: (20 pts)**

Load the CSV data file as follows:

1. Find the data file on Canvas.

   Go to `Files` -> `Data Files` -> `SOCR-HeightWeight.csv`

2. Upload the CSV file in Colab
3. Load the CSV file into a DataFrame named `df`
3. Print the DataFrame `df`

In [30]:
#Step 3: To run this you need to do step 1 & 2 first.
import pandas as pd
df = pd.read_csv("SOCR-HeightWeight.csv")

In [31]:
#Step 4
print(df)

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]